{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>E_Name</th>
                <th>E_PHOTO</th>
                <th>E_NOTE</th>
                <th>E_Place</th>
                <th>E_Price</th>
                <th>E_TelNumber</th>
                <th>E_Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.EName }}</td>
                <td>{{ event.EPHOTO }}</td>
                <td>{{ event.ENOTE }}</td>
                <td>{{ event.EPlace }}</td>
                <td>{{ event.EPrice }}</td>
                <td>{{ event.ETelNumber }}</td>
                <td>{{ event.EEmail }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
