{% extends 'base-back.html.twig' %}

{% block title %} test add {% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('Back/assets/vendors/select2/select2.min.css')}}" />
    <link rel="stylesheet" href="{{asset('Back/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}" />

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Événements</h3>
            <button type="button" class="btn btn-inverse-primary btn-rounded btn-icon" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-line-chart" aria-hidden="true"></i></button>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Événements</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Gestion événements</li>
                </ol>
            </nav>
        </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="chartModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">nombre dévénement par date debut</h4>
                                        <canvas id="CodePromoOwnerChart" style="height: 250px; width: 250px;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">nombre dévénement par date fin</h4>
                                        <canvas id="CodePromoOwnerChart2" style="height: 250px; width: 250px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ajouter événements</h4><br>
                        {{ form_start(form,{'attr':{'class':'forms-sample','novalidate':'novalidate'}}) }}

                        <div class="form-group">
                            <label for="exampleInputName1">Nom de l'événement:</label>
                            {{ form_errors(form.E_Name, { 'attr': {'style': 'color:red'}}) }}
                            {{ form_widget(form.E_Name,{'attr':{'class':'form-control','type':'text','id':'Nom','placeholder':'Nom'}}) }}

                        </div><br>
                        <div class="form-group">
                            <label for="exampleTextarea1">description :</label>
                            {{ form_widget(form.E_NOTE,{'attr':{'class':'form-control','type':'textarea','id':'description','placeholder':'description','size':'4'}}) }}

                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputCity1">Adresse de l'événement :</label>
                            {{ form_errors(form.E_Place) }}
                            {{ form_widget(form.E_Place,{'attr':{'class':'form-control','style':'width: 100%;'}}) }}


                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputName1">Nombre de place :</label>
                            {{ form_errors(form.E_Nbre) }}

                            {{ form_widget(form.E_Nbre,{'attr':{'class':'form-control','type':'number','id':'Sexe','onchange':'verifNbr(this)'}}) }}
                        </div><br>
                        <div class="form-group">
                            <label >Date debut :</label>
                            {{ form_errors(form.E_DateDebut) }}

                            {{ form_widget(form.E_DateDebut,{'attr':{'class':'form-control','id':'DateD','placeholder':'Valeur du code promo en pourcentage', 'onchange':'verifDatedebut()'}}) }}
                        </div><br>

                        <div class="form-group">

                            <label> Date fin :</label>
                            {{ form_errors(form.E_DateFin) }}

                            {{ form_widget(form.E_DateFin,{'attr':{'class':'form-control','id':'DateF','placeholder':'Valeur du code promo en pourcentage','disabled':'disable' ,'onchange':'verifDate()'}}) }}
                        </div><br>


                        <div class="form-group">
                            <label for="exampleSelectGender">Prix :</label>
                            <div class="form-group">
                                {{ form_errors(form.E_Price) }}

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-primary text-white">Dt</span>
                                    </div>
                            {{ form_widget(form.E_Price,{'attr':{'class':'form-control','id':'Sexe'}}) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>
                        </div><br>



                        <div class="form-group">
                            <label for="exampleInputName1">Photo :</label>
                            <div class="input-group col-xs-12">
                                {{ form_errors(form.E_PHOTO) }}
                                {{ form_widget(form.E_PHOTO,{'attr':{'class':'file-upload-browse btn btn-primary','type':'file','id':'Prenom','style':'width: 100%; ','accept':'image/png, image/jpeg'}}) }}

                            </div>

                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Adresse email :</label>
                            {{ form_errors(form.E_Email) }}

                            {{ form_widget(form.E_Email,{'attr':{'class':'form-control','type':'email','id':'Email','placeholder':'Addresse email','onchange':'validate()'}}) }}
                        </div><br>


                        <div class="form-group">
                            <label for="exampleInputEmail3">Numéro de téléphone :</label>
                            {{ form_errors(form.E_TelNumber) }}

                            {{ form_widget(form.E_TelNumber,{'attr':{'class':'form-control','type':'text','id':'NumTel','placeholder':'Numéro de téléphone','onchange':'verifNumTel(this)'}}) }}

                        </div><br>



                        <button class="btn btn-primary mr-2" >{{ button_label|default('Sauvegarder') }}</button>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div >

        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Événements</h4><br>

                        <div style="overflow-x:auto;">
                            <table class="table table-bordered table-striped" id="myTable">
                                <thead>
                                <tr>
                                    <th>Nom </th>
                                    <th>description </th>
                                    <th>Adresse </th>
                                    <th>Date debut</th>
                                    <th>Date fin </th>
                                    <th>Prix </th>
                                    <th>Adresse email</th>
                                    <th>Numéro de téléphone</th>
                                    <th>Nombre de place</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td style="display:none">{{ event.id }}</td>
                                        <td>{{ event.EName }}</td>
                                        <td>{{ event.ENOTE }}</td>
                                        <td>{{ event.EPlace }}</td>
                                        <td>{{ event.EDateDebut |date('d-m-Y h:m')}}</td>
                                        <td>{{ event.EDateFin |date('d-m-Y h:m') }}</td>
                                        <td>{{ event.EPrice }}</td>
                                        <td>{{ event.EEmail }}</td>
                                        <td>{{ event.ETelNumber }}</td>
                                        <td>{{ event.ENbre }}</td>

                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a type="button" class="btn btn-primary" href="{{ path('event_edit', {'id': event.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            {% if event.EPlaceReserver ==0  %}{{ include('event/_delete_form.html.twig') }}{% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">Aucun enregistrement trouvé</td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                                <th><input style="width: 90%" type="text" id="myInput8" onkeyup="myFunction08()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput9" onkeyup="myFunction9()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput10" onkeyup="myFunction10()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput11" onkeyup="myFunction11()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput12" onkeyup="myFunction12()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput130" onkeyup="myFunction13()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput14" onkeyup="myFunction14()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput15" onkeyup="myFunction15()" placeholder="chercher" ></th>
                                <th><input style="width: 90%" type="text" id="myInput16" onkeyup="myFunction16()" placeholder="chercher" ></th>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{asset('Back/assets/vendors/mdi/css/materialdesignicons.min.css')}}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    let codePromoOwner = document.getElementById("CodePromoOwnerChart");
    let CodePromoOwnerChartGraph = new Chart(codePromoOwner,{
        type : "bar",
        data:{
            labels: {{ EventDateDebut|raw }},
            datasets:[{
                label: "nbre d'événements",
                data: {{ EventCountDebut|raw }},

                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }],


        }
    })
    let codePromoOwner1 = document.getElementById("CodePromoOwnerChart2");
    let CodePromoOwnerChartGraph1 = new Chart(codePromoOwner1,{
        type : "bar",
        data:{
            labels: {{ EventDateFin|raw }},
            datasets:[{
                label: "nbre d'événements",
                data: {{ EventCountFin|raw }},

                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }],


        }
    })
    function myFunction08() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput8");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction9() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput9");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction10() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput10");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction11() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput11");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction12() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput12");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction13() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput130");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction14() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput14");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[7];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction15() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput15");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[8];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction16() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput16");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[9];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function verifDatedebut() {
        let dateDebutString = document.getElementById("event_E_DateDebut").value.split("-");
        let datedebuttimeandjour = dateDebutString[2].split("T");
        let datedebuttimea = datedebuttimeandjour[1].split(":");
        let dateDebut = new Date (dateDebutString[0],dateDebutString[1]-1,datedebuttimeandjour[0],datedebuttimea[0],datedebuttimea[1],0);


        let date = new Date();

        if (dateDebut <= date  ){
            Swal.fire({
                icon: 'error',
                title: 'Date Invalide !',
                timer: 3000,
                timerProgressBar: true,
            })
            document.getElementById("event_E_DateFin").disabled = true;
            document.getElementById("event_E_DateDebut").value = 0;
            document.getElementById("event_E_DateFin").value = 0;


}else {
            document.getElementById("event_E_DateFin").disabled = false;
            document.getElementById("event_E_DateFin").value = 0;
        }
    }
    function verifDate() {
        let dateDebutString = document.getElementById("event_E_DateDebut").value.split("-");
        let datedebuttimeandjour = dateDebutString[2].split("T");
        let datedebuttimea = datedebuttimeandjour[1].split(":");
        let dateFinString = document.getElementById("event_E_DateFin").value.split("-");
        let datefintimeandjour = dateFinString[2].split("T");
        let datefintimea = datefintimeandjour[1].split(":");
        let dateDebut = new Date (dateDebutString[0],dateDebutString[1]-1,datedebuttimeandjour[0],datedebuttimea[0],datedebuttimea[1],0);
        let dateFin = new Date (dateFinString[0],dateFinString[1]-1,datefintimeandjour[0],datefintimea[0],datefintimea[1],0);

        let date = new Date();
        if (dateDebut >= dateFin ){
            Swal.fire({
                icon: 'error',
                title: 'Date Invalide !',
                timer: 3000,
                timerProgressBar: true,
            })
            document.getElementById("event_E_DateFin").value = 0;

        }
    }
    function checkEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    function validate() {
        var email = document.getElementById("event_E_Email").value;

        if (!checkEmail(email)) {
            document.getElementById("event_E_Email").value = null ;
            Swal.fire({
                icon: 'error',
                title: 'Email Invalide !',
                timer: 3000,
                timerProgressBar: true,
            })
        }
        return false;
    }
    function verifNumTel(_this){
       if (_this.value.length != 8){
           Swal.fire({
               icon: 'error',
               title: 'Numéro de téléphone Invalide !',
               timer: 3000,
               timerProgressBar: true,
           })
           _this.value = null;
       }
    }
    function verifNbr(_this){
        if ( parseInt(_this.value) < 0){
            Swal.fire({
                icon: 'error',
                title: 'Le nombre de place doit etre supérieur à 0 !',
                timer: 3000,
                timerProgressBar: true,
            })
            _this.value = null;
        }
    }
</script>

{% endblock %}



























