{% extends 'base-front.html.twig' %}
{% block title %}
Edit profile
{% endblock %}

{% block login %}
{% endblock %}

{% block body %}
<div class="main-panel">
          <div class="content-wrapper">
          <center>
<div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit profile</h4>
                    {{ form_start(form, {'attr': {'class' : 'forms-sample'}}) }}
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.firstName, {'attr': {'class' : 'form-control'}} ) }}                      
                        </div>
                        </div>
                        <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.lastName, {'attr': {'class' : 'form-control'}} ) }}
                      </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class' : 'form-control'}} ) }}
                      </div>
                      </div>
                      <div class="col-md-6">
                      <div class="form-group">
                      {{ form_row(form.phoneNumber, {'attr': {'class' : 'form-control'}} ) }}
                        
                      </div>
                      </div>
                      </div>
                      
                      <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.old_password, {'attr': {'class' : 'form-control'}} ) }}
                        {{ form_errors(form.old_password) }}  
                      </div>
                      </div>
                      <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.profilePicture, {'attr': {'class' : 'form-control'}} ) }}
                        {{ form_errors(form.profilePicture) }}  
                      </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.new_password.first, {'attr': {'class' : 'form-control'}} ) }}
                        {{ form_errors(form.new_password.first) }}  
                      </div>
                      </div>
                      <div class="col-md-6">
                      <div class="form-group">
                        {{ form_row(form.new_password.second, {'attr': {'class' : 'form-control'}} ) }}
                        {{ form_errors(form.new_password.second) }} 
                      </div>
                      </div>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                    {{ form_end(form) }}
                  </div>
                </div>
              </div>
              </center>
              </div>
              </div>
{% endblock %}




{# {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}
        <div class="form-group">

            {{ form_row(form.firstName, {'attr': {'class' : 'form-control'}} ) }}
        </div>
        <div class="form-group">

            {{ form_row(form.lastName, {'attr': {'class' : 'form-control'}} ) }}
        </div>
        <div class="form-group">

            {{ form_row(form.email, {'attr': {'class' : 'form-control'}} ) }}
        </div>
        <div class="form-group">

            {{ form_row(form.old_password, {'attr': {'class' : 'form-control'}} ) }}
        </div>
        <div class="form-group">

            {{ form_row(form.new_password, {'attr': {'class' : 'form-control'}} ) }}
        </div>

        {{ form_end(form) }} #}