{% extends 'base-front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block login %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 order-md-last">
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="mb-4">Login</h3>
                        <form method="post" class="signup-form" id="loginForm">

                            <div class="form-group">
                                <label class="label" for="inputEmail">Email Address</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="label" for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                            </div>
                            <div class="form-group d-flex justify-content-end mt-4">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary submit"><span
                                            class="fa fa-paper-plane"></span></button>
                            </div>
                        </form>
                        <p class="text-center">Click here to <a href="{{ path('app_forgot_password_request') }}">Reset
                                Password ?</a></p>
                        <p class="text-center">Don't have an account? <a href="{{ path('user_register') }}">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}