{% extends 'base-front.html.twig' %}

{% block title %}Home{% endblock %}

{% block login %}

            <div class="login-wrap p-4 p-md-5">
              <h3 class="mb-4">Login</h3>
              <form method="post" class="signup-form">

                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                  You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="label" for="inputEmail">Email Address</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                 <label class="label" for="inputPassword">Password</label>
                 <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                  </label>
                </div>
                <div class="form-group d-flex justify-content-end mt-4">
                  <button class="btn btn-primary submit" type="submit"><span class="fa fa-paper-plane"></span></button>
                </div>
              </form>
              <p class="text-center">Already have an account? <a href="{{ path('app_register') }}">Sign In</a></p>
              <p class="text-center">Forgot password ? <a href="{{ path('app_forgot_password_request') }}">Reset</a></p>
            </div>
            {% endif %}

{% endblock %}

{#<form method="post">

    
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    

</form> #}
