{% extends 'base-back.html.twig' %}

{% block title %} All reclamations {% endblock %}

{% block body %}

        <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">All reclamations</h3>
            </div>
            <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  <div style="overflow-x: auto;">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Full Name</th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Message</th>
                            <th>Sending Date</th>
                            <th>Status</th>
                            <th>User File</th>
                            <th>Answer</th>
                            <th>Reply Date</th>
                            <th>Admin File</th>
                            <th>Reply</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for rec in reclamations %}
                          <tr>
                            <td>{{ rec.name }}</td>
                            <td>{{ rec.type }}</td>
                            <td>{{ rec.title }}</td>
                            <td>{{ rec.message }}</td>
                            <td class="text-success">{{ rec.sending_date ? rec.sending_date|date('d-m-Y H:i') : '' }}</td>
                            <td>
                            {% if rec.status == "not answered" %}
                                <label class="badge badge-danger">Pending</label>
                            {% else %}
                                <label class="badge badge-success">Answered</label>
                            {% endif %}
                            </td>
                            {% if rec.user_file != null %}
                            <td><a class="btn btn-inverse-success btn-fw" href="{{ asset('uploads/reclamation_picture/' ~ rec.user_file) }}">View</a></td>
                            {% else %}
                            <td> No File Sent</td>
                            {% endif %}
                            {% if rec.answer != null %}
                            <td>{{ rec.answer }}</td>
                            <td>{{ rec.reply_date ? rec.reply_date|date('d-m-Y H:i') : '' }}</td>
                            {% else %}
                            <td>-</td>
                            <td>-</td>
                            {% endif %}
                            {% if rec.user_file != null %}
                            <td><a class="btn btn-inverse-success btn-fw" href="{{ asset('uploads/reclamation_picture/' ~ rec.user_file) }}">View</a></td>
                            {% else %}
                            <td> No File Sent</td>
                            {% endif %}
                            {% if rec.status == "not answered" %}
                            <td>
                              <a class="btn btn-inverse-danger btn-fw" href="{{ path('add_reponse' ,{'id':rec.id})}}">Reply</a>
                            </td>
                            {% else %}
                            <td>
                                <a class="btn btn-inverse-warning btn-fw" href="{{ path('edit_reponse' ,{'id':rec.repId})}}">Edit</a>
                            </td>
                            {% endif %}
                          </tr>
                        {# {% endfor %} #}
                        
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock %}
