{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Reponse1</th>
                <th>Reponse2</th>
                <th>Reponse3</th>
                <th>Reponse4</th>
                <th>Repcorrect</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.libelle }}</td>
                <td>{{ question.reponse1 }}</td>
                <td>{{ question.reponse2 }}</td>
                <td>{{ question.reponse3 }}</td>
                <td>{{ question.reponse4 }}</td>
                <td>{{ question.repcorrect }}</td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
