{% extends 'base-quiz.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <div class="container-contact100">
        <div class="wrap-contact100">
            {{ form_start(form,{'attr':{'class':'contact100-form validate-form'}}) }}
				<span class="contact100-form-title">
					Add Question/Response {{nbre +1}}
				</span>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">Question  *</span>
                    {{ form_widget(form.libelle,{'attr':{'class':'input100','type':'text','placeholder':'Enter Your first reponse'}}) }}

                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">Reponse 1 *</span>
                   {{ form_widget(form.reponse1,{'attr':{'class':'input100','type':'text','placeholder':'Enter Your first reponse'}}) }}
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Response">
                    <span class="label-input100">Reponse 2 *</span>
                    {{ form_widget(form.reponse2,{'attr':{'class':'input100','type':'text','placeholder':'Enter Your second reponse'}}) }}
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Response">
                    <span class="label-input100">Reponse 3 *</span>
                    {{ form_widget(form.reponse3,{'attr':{'class':'input100','type':'text','placeholder':'Enter Your third reponse'}}) }}
                </div>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Response">
                    <span class="label-input100">Reponse 4 *</span>
                    {{ form_widget(form.reponse4,{'attr':{'class':'input100','type':'text','placeholder':'Enter Your fourth reponse'}}) }}
                </div>

            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Correct reponse *</span>
                <div>

                        {{ form_widget(form.repcorrect,{'attr':{'class':'js-select2'}}) }}

                    <div class="dropDownSelect2"></div>
                </div>
            </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function validate() {
            var email = document.getElementById("promo_code_owner_PCD_Email").value;

            if (checkEmail(email)) {
                var table = document.getElementById('myTable');
                for (var r = 1, n = table.rows.length - 1; r < n; r++) {

                    if (table.rows[r].cells[2].innerHTML == email){
                        Swal.fire({
                            icon: 'error',
                            title: 'Ce Email existe !',
                            timer: 3000,
                            timerProgressBar: true,
                        })
                        document.getElementById("promo_code_owner_PCD_Email").value = null ;
                    }

                }            }
            else {
                document.getElementById("promo_code_owner_PCD_Email").value = null ;
                Swal.fire({
                    icon: 'error',
                    title: 'Email Invalide !',
                    timer: 3000,
                    timerProgressBar: true,
                })            }
            return false;
        }
    </script>
{% endblock %}
