{% extends 'base-back.html.twig' %}

{% block title %} Modifier Propriétaire Du Code Promo {% endblock %}

{% block body %}


    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Propriétaire du code promo</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Promotion</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Gestion propriétaire du code promo </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modifier propriétaire du code promo</h4><br>


                        {{ include('promo_code_owner/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

                    </div>
                </div>
            </div >

        </div>
    </div>

    <link rel="stylesheet" href="{{asset('Back-Office/assets/vendors/mdi/css/materialdesignicons.min.css')}}" />
    <!-- Extra large modal -->
    <table class="table table-bordered table-striped" style="display:none" id="myTable">
        <thead>
        <tr>
            <th style="display:none">Id</th>
            <th>Nom et Prénom</th>
            <th>Addresse email</th>
            <th>Profession</th>
            <th>N° téléphone</th>
            <th>Sexe</th>
            <th>Ville</th>
            <th>description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for promo_code_owner in promo_code_owners %}
            <tr>
                <td style="display:none" >{{ promo_code_owner.id }}</td>
                <td>{{ promo_code_owner.PCDName }} {{ promo_code_owner.PCDFirstName }}</td>

                <td>{{ promo_code_owner.PCDEmail }}</td>
                <td>{{ promo_code_owner.PCDJob }}</td>
                <td>{{ promo_code_owner.PCDTelephoneNumber }}</td>
                <td>{{ promo_code_owner.PCDGender }}</td>
                <td>{{ promo_code_owner.PCDCity }}</td>
                <td>{{ promo_code_owner.PCDNote }}</td>
                <td>
                    {#  <a href="{{ path('promo_code_owner_show', {'id': promo_code_owner.id}) }}">show</a> #}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-primary" href="{{ path('promo_code_owner_edit', {'id': promo_code_owner.id}) }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        {{ include('promo_code_owner/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th><input style="width: 90%" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput4" onkeyup="myFunction4()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput5" onkeyup="myFunction5()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput6" onkeyup="myFunction6()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput7" onkeyup="myFunction7()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput8" onkeyup="myFunction8()" placeholder="chercher" ></th>
            <th><input style="width: 90%" type="text" id="myInput9" onkeyup="myFunction9()" placeholder="chercher" ></th>
        </tr>
        </tfoot>
    </table>
<script>
    function checkEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    function validate() {
        var email = document.getElementById("promo_code_owner_PCD_Email").value;

        if (checkEmail(email)) {
            var table = document.getElementById('myTable');
            for (var r = 1, n = table.rows.length - 1; r < n; r++) {
                if (table.rows[r].cells[2].innerHTML == email){
                    Swal.fire({
                        icon: 'error',
                        title: 'Ce Email existe !',
                        timer: 3000,
                        timerProgressBar: true,
                    })
                    document.getElementById("promo_code_owner_PCD_Email").value = null ;
                }

            }            }
        else {
            document.getElementById("promo_code_owner_PCD_Email").value = null ;
            Swal.fire({
                icon: 'error',
                title: 'Date Invalide !',
                timer: 3000,
                timerProgressBar: true,
            })            }
        return false;
    }
    function verifNumTel(_this){
        if (_this.value.length != 8){
            Swal.fire({
                icon: 'error',
                title: 'Numéro de téléphone Invalide !',
                timer: 3000,
                timerProgressBar: true,
            })
            _this.value = null;
        }
    }</script>

{% endblock %}

