{% extends 'base.html.twig' %}

{% block title %}ReservationFormation index{% endblock %}

{% block body %}
    <h1>ReservationFormation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_formation in reservation_formations %}
            <tr>
                <td>{{ reservation_formation.id }}</td>
                <td>{{ reservation_formation.prix }}</td>
                <td>{{ reservation_formation.date ? reservation_formation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservation_formation_show', {'id': reservation_formation.id}) }}">show</a>
                    <a href="{{ path('reservation_formation_edit', {'id': reservation_formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_formation_new') }}">Create new</a>
{% endblock %}
