{% extends 'base-front.html.twig' %}

{% block title %} All reclamations {% endblock %}

{% block body %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <a href="{{ path('add_reclamation') }}" class="btn btn-warning">Contactez-nous</a>
                <div class="">
                    <div class="wrapper">

                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-12 order-md-last d-flex align-items-stretch">
                                <div style="overflow-x:auto;">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Type</th>
                                                <th>Titre</th>
                                                <th>Message</th>
                                                <th>Date d'envoi</th>
                                                <th>Fichier envoyé</th>
                                                <th>état</th>
                                                <th>Réponse</th>
                                                <th>Date de réponse</th>
                                                <th>Fichier reçu</th>
                                                <th>Supprimer</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for rec in test %}
                                                <tr>
                                                    <td>{{ rec.name }}</td>
                                                    <td>{{ rec.type }}</td>
                                                    <td>{{ rec.title }}</td>
                                                    <td>{{ rec.message }}</td>
                                                    <td>{{ rec.sendingDate ? rec.sendingDate|date('d-m-Y H:i') : '' }}</td>
                                                    {% if rec.userFile != null %}
                                                        <td><a class="btn btn-success "
                                                               href="{{ asset('uploads/reclamation_picture/' ~ rec.userFile) }}">Voir</a>
                                                        </td>
                                                    {% else %}
                                                        <td>Pas de fichier envoyé</td>
                                                    {% endif %}
                                                    <td>{% if rec.status == 0 %}
                                                            Pas de réponse
                                                        {% else %}
                                                            répondu
                                                        {% endif %}</td>
                                                    {% if rec.status == 0 %}
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    {% else %}
                                                        <td>
                                                            {{ rec.answer }}
                                                        </td>
                                                        <td>{{ rec.replyDate }}</td>
                                                        {% if rec.adminFile == null %}
                                                            <td>Pas de fichier envoyé</td>
                                                        {% else %}
                                                            <
                                                            <td><a class="btn btn-success"
                                                                   href="{{ asset('uploads/reclamation_picture/' ~ rec.adminFile) }}">Voir</a>
                                                            </td>
                                                        {% endif %}
                                                    {% endif %}
                                                    <td>
                                                        <form method="post"
                                                              action="{{ path('delete_reclamation', {'id': rec.id}) }}"
                                                              onsubmit="return confirm('Vous etes sur de supprimer cette réclamation?');">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delete' ~ rec.id) }}">
                                                            <button class="btn btn-danger">Supprimer</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="11" class="text-center">Pas de réclamation</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="navigation">
                                        {{ knp_pagination_render(test) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
