{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}
 {{ form_start(form,{'attr':{'class':'forms-sample'}}) }}
<div class="form-group">
    <label for="exampleInputName1">Propriétaire du code promo :</label>
    {{ form_widget(form.CP_PCD,{'attr':{'class':'form-control','id':'CodePromo','placeholder':'Code promotion','type':'int'}}) }}
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Code promotion :</label>
    {{ form_widget(form.PC_Code,{'attr':{'class':'form-control','type':'text','id':'CodePromo','placeholder':'Code promotion'}}) }}
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Valeur du code promo en pourcentage :</label>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-primary text-white">-</span>
            </div>
            {{ form_widget(form.PC_Value,{'attr':{'class':'form-control','type':'text','id':'ValeurCodePromo','placeholder':'Valeur du code promo en pourcentage'}}) }}

            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Date d'expiration du code :</label>
    {{ form_widget(form.PC_ExpirationCode,{'attr':{'class':'form-control','id':'DateExpiration','placeholder':'Valeur du code promo en pourcentage'}}) }}
</div>


<div class="form-group">
    <label for="exampleTextarea1">Description :</label>
    {{ form_widget(form.PC_Note,{'attr':{'class':'form-control','type':'textarea','id':'description','placeholder':'description','size':'4'}}) }}
</div>

<button class="btn btn-primary mr-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}