<!DOCTYPE html>

<title>PromotionCode</title>

{% block body %}
    <h1>PromotionCode</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ promotion_code.id }}</td>
        </tr>
        <tr>
            <th>CP_PCD</th>
            <td>{{ promotion_code.CPPCD }}</td>
        </tr>
        <tr>
            <th>PC_Code</th>
            <td>{{ promotion_code.PCCode }}</td>
        </tr>
        <tr>
            <th>PC_Value</th>
            <td>{{ promotion_code.PCValue }}</td>
        </tr>
        <tr>
            <th>PC_ExpirationCode</th>
            <td>{{ promotion_code.PCExpirationCode ? promotion_code.PCExpirationCode|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>PC_Note</th>
            <td>{{ promotion_code.PCNote }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('promotion_code_index') }}">back to list</a>

    <a href="{{ path('promotion_code_edit', {'id': promotion_code.id}) }}">edit</a>

    {{ include('promotioncode/_delete_form.html.twig') }}
{% endblock %}
