{% extends 'base-back.html.twig' %}

{% block title %} Edit profile {% endblock %}

{% block body %}

    <div class="page-header flex-wrap">
        <h3 class="mb-0"> Hi, welcome to your profile!</h3>
    </div>

    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Update your info</h4>
                                {{ form_start(form,{ 'attr':{
                                    'class':'forms-sample'
                                } }) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First name</label>
                                            {{ form_row(form.first_name, {'attr': {'class' : 'form-control','placeholder':'First name'}} ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last name</label>
                                            {{ form_row(form.last_name, {'attr': {'class' : 'form-control','placeholder':'Last name'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Profile picture</label>
                                            {{ form_row(form.picture, {'attr': {'class' : 'file-upload-browse btn btn-primary','type':'button'}} ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputConfirmPassword1">Gender</label>
                                            {{ form_row(form.gender, {'attr': {'class' : 'btn btn-sm btn-outline-primary dropdown-toggle','type':'button','aria-haspopup':'true','aria-expanded':'false'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Email</label>
                                            {{ form_row(form.email, {'attr': {'class' : 'form-control','placeholder':'Email'}} ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Old password</label>
                                            {{ form_row(form.old_password, {'attr': {'class' : 'form-control','placeholder':'Old password'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">New password</label>
                                            {{ form_row(form.new_password.first, {'attr': {'class' : 'form-control','placeholder':'New password'}} ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                            {{ form_row(form.new_password.second, {'attr': {'class' : 'form-control','placeholder':'Confirm password'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary mr-2" value="Edit"/>
                                <a href="{{ path('user_profile') }}" class="btn btn-light">Cancel</a>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}