{% extends 'base-back.html.twig' %}

{% block title %} Profile {% endblock %}

{% block body %}
    <div class="page-header flex-wrap">
        <h3 class="mb-0"> Users list</h3>
    </div>

    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                {# Admins #}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Our Admins</h4>
                            <div class="table-responsive"
                                 style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Profile Picture</th>
                                        <th class="text-center">Fullname</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Gender</th>
                                        <th class="text-center">Creation Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admin in admins %}
                                        {% if admin.roles|join(', ') == "ROLE_ADMIN" %}
                                            <tr>
                                                <td class="py-1 text-center">
                                                    <img src="{{ asset('uploads/user_picture/' ~ admin.picture) }}"
                                                         alt="image"/>
                                                </td>
                                                <td class="text-center">{{ admin.firstName }} {{ admin.lastName }}</td>
                                                <td class="text-center">{{ admin.email }}</td>
                                                <td class="text-center">{{ admin.gender }}</td>
                                                <td class="text-center">{{ admin.createdAt|date("m/d/Y") }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Commun clients and tutors #}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Our Tutors/Clients</h4>
                            <div class="table-responsive"
                                 style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Profile Picture</th>
                                        <th class="text-center">Fullname</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Gender</th>
                                        <th class="text-center">Creation Date</th>
                                        <th class="text-center">Verification File</th>
                                        <th class="text-center">Verify</th>
                                        <th class="text-center">Ban user</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in both %}
                                        {% if user.roles|slice(1, 1) is not empty %}
                                            <tr>
                                                <td class="py-1 text-center">
                                                    <img src="{{ asset('uploads/user_picture/' ~ user.picture) }}"
                                                         alt="image"/>
                                                </td>
                                                <td class="text-center">{{ user.firstName }} {{ user.lastName }}</td>
                                                <td class="text-center">{{ user.email }}</td>
                                                <td class="text-center">{{ user.gender }}</td>
                                                <td class="text-center">{{ user.createdAt|date("m/d/Y") }}</td>
                                                {% if user.verificationFile is empty %}
                                                    <td class="text-center">
                                                        <mark class="bg-danger text-white">No file found</mark>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a href="{{ asset('uploads/verification/' ~ user.verificationFile) }}"
                                                           type="button" class="btn btn-primary btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-eye btn-icon-prepend"
                                                               style="color: white">
                                                            </i> View</a>
                                                    </td>
                                                {% endif %}
                                                {% if user.isVerified == 0 %}
                                                    <td class="text-center">
                                                        <a href="{{ path('verify_user',{'id':user.id}) }}" type="button"
                                                           class="btn btn-primary btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-check-outline btn-icon-prepend"
                                                               style="color: white"></i> Verify</a>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a type="button" class="btn btn-success btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-check-outline btn-icon-prepend"
                                                               style="color: white"></i> Verified</a>
                                                    </td>
                                                {% endif %}
                                                {% if user.isBanned == 0 %}
                                                    <td class="text-center">
                                                        <a href="{{ path('ban_user',{'id':user.id}) }}" type="button"
                                                           class="btn btn-danger btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-lock-outline btn-icon-prepend"
                                                               style="color: white"></i> Ban</a>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a href="{{ path('unban_user',{'id':user.id}) }}" type="button"
                                                           class="btn btn-warning btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-lock-open-outline btn-icon-prepend"
                                                               style="color: white"></i> Unban</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Tutors #}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Our Tutors</h4>
                            <div class="table-responsive"
                                 style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Profile Picture</th>
                                        <th class="text-center">Fullname</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Gender</th>
                                        <th class="text-center">Creation Date</th>
                                        <th class="text-center">Verification File</th>
                                        <th class="text-center">Verify</th>
                                        <th class="text-center">Ban user</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tutor in tutors %}
                                        {% if tutor.roles|join(', ') == "ROLE_TUTOR" %}
                                            <tr>
                                                <td class="py-1 text-center">
                                                    <img src="{{ asset('uploads/user_picture/' ~ tutor.picture) }}"
                                                         alt="image"/>
                                                </td>
                                                <td class="text-center">{{ tutor.firstName }} {{ tutor.lastName }}</td>
                                                <td class="text-center">{{ tutor.email }}</td>
                                                <td class="text-center">{{ tutor.gender }}</td>
                                                <td class="text-center">{{ tutor.createdAt|date("m/d/Y") }}</td>
                                                {% if tutor.verificationFile is empty %}
                                                    <td class="text-center">
                                                        <mark class="bg-danger text-white">No file found</mark>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a href="{{ asset('uploads/verification/' ~ tutor.verificationFile) }}"
                                                           type="button" class="btn btn-primary btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-eye btn-icon-prepend"
                                                               style="color: white">
                                                            </i> View</a>
                                                    </td>
                                                {% endif %}
                                                {% if tutor.isVerified == 0 %}
                                                    <td class="text-center">
                                                        <a href="{{ path('verify_user',{'id':tutor.id}) }}"
                                                           type="button" class="btn btn-primary btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-check-outline btn-icon-prepend"
                                                               style="color: white"></i> Verify</a>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a type="button" class="btn btn-success btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-check-outline btn-icon-prepend"
                                                               style="color: white"></i> Verified</a>
                                                    </td>
                                                {% endif %}
                                                {% if tutor.isBanned == 0 %}
                                                    <td class="text-center">
                                                        <a href="{{ path('ban_user',{'id':tutor.id}) }}" type="button"
                                                           class="btn btn-danger btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-lock-outline btn-icon-prepend"
                                                               style="color: white"></i> Ban</a>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <a href="{{ path('unban_user',{'id':tutor.id}) }}" type="button"
                                                           class="btn btn-warning btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-lock-open-outline btn-icon-prepend"
                                                               style="color: white"></i> Unban</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Clients #}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Our clients</h4>
                            <div class="table-responsive"
                                 style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Profile Picture</th>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Creation Date</th>
                                        <th>Ban user</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}
                                        {% if client.roles|join(', ') == "ROLE_CLIENT" %}
                                            <tr>
                                                <td class="py-1">
                                                    <img src="{{ asset('uploads/user_picture/' ~ client.picture) }}"
                                                         alt="image"/>
                                                </td>
                                                <td>{{ client.firstName }} {{ client.lastName }}</td>
                                                <td>{{ client.email }}</td>
                                                <td>{{ client.gender }}</td>
                                                <td>{{ client.createdAt|date("m/d/Y") }}</td>
                                                {% if client.isBanned == 0 %}
                                                    <td>
                                                        <a href="{{ path('ban_user',{'id':client.id}) }}" type="button"
                                                           class="btn btn-danger btn-icon-text" style="color: white">
                                                            <i class="mdi mdi-lock-outline btn-icon-prepend"
                                                               style="color: white"></i> Ban</a>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <a href="{{ path('unban_user',{'id':client.id}) }}"
                                                           type="button" class="btn btn-warning btn-icon-text"
                                                           style="color: white">
                                                            <i class="mdi mdi-lock-open-outline btn-icon-prepend"
                                                               style="color: white"></i> Unban</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Test #}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">All Data</h4>
                            <div class="table-responsive"
                                 style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Profile Picture</th>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Creation Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in data %}
                                        <tr>
                                            <td class="py-1">
                                                <img src="{{ asset('uploads/user_picture/' ~ client.picture) }}"
                                                     alt="image"/>
                                            </td>
                                            <td>{{ client.firstName }} {{ client.lastName }}</td>
                                            <td>{{ client.email }}</td>
                                            <td>{{ client.gender }}</td>
                                            <td>{{ client.createdAt|date("m/d/Y") }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {{ pagerfanta(data) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}