
{{ form_start(form,{'attr':{'class':'forms-sample'}}) }}
<div class="form-group">
    <label for="exampleInputName1">Nom Promotion :</label>
    {{ form_widget(form.P_Name,{'attr':{'class':'form-control','type':'text','id':'NomPromo','placeholder':'Nom promotion'}}) }}
</div>

<div class="form-group">
    <label for="exampleInputEmail3">Valeur du code promo en pourcentage :</label>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-primary text-white">-</span>
            </div>
            {{ form_widget(form.P_Value,{'attr':{'class':'form-control','type':'text','id':'NomPromo','aria-label':'Amount (to the nearest dollar)'}}) }}
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Domaine :</label>
    {{ form_widget(form.P_Domaine,{'attr':{'class':'js-example-basic-single','style':'width: 100%;'}}) }}

</div>
<div class="form-group">
    <label for="exampleInputEmail3">Date debut :</label>
    {{ form_widget(form.P_DateB,{'attr':{'class':'form-control','id':'DateExpiration','placeholder':'Valeur du code promo en pourcentage'}}) }}
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Date fin :</label>
    {{ form_widget(form.P_DateF,{'attr':{'class':'form-control','id':'DateExpiration','placeholder':'Valeur du code promo en pourcentage'}}) }}
</div>

<div class="form-group">
    <label for="exampleTextarea1">Description :</label>
    {{ form_widget(form.P_Note,{'attr':{'class':'form-control','type':'textarea','id':'description','placeholder':'description','size':'4'}}) }}

</div>
<div class="btn-group" role="group" aria-label="Basic example">

<button class="btn btn-primary mr-2">{{ button_label|default('Sauvegarder') }}</button>
<a href="{{ path('promotion_code_new') }}"  class="btn btn-light">Annuler</a>
</div>

{{ form_end(form) }}