{% extends 'base-back.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom du Quiz</th>
                <th>Nom du formation </th>
                <th>Créer par</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ quiz.name }}</td>
                <td>formation {{ loop.index }} </td>
                <td> Nassim Allouche</td>
                <td>
                    <a href="{{ path('quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('myquestion', {'id': quiz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
