{% extends 'base-back.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>N°</th>
            <th>Nom du Quiz</th>
            <th>Nom du formation </th>
            <th>Nom du participant</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for res in results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ res.quiz.name }} </td>
                <td>formation {{ res.quiz.IdFormation.NomFormation }} </td>
                <td> {{ res.iduser.firstname }} {{ res.iduser.lastname }}</td>
                <td>
                    {{ res.result }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
