{% extends 'base.html.twig' %}

{% block title %}Useranswer index{% endblock %}

{% block body %}
    <h1>Useranswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_user</th>
                <th>Id_question</th>
                <th>Id_quiz</th>
                <th>Rep_correct</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for useranswer in useranswers %}
            <tr>
                <td>{{ useranswer.id }}</td>
                <td>{{ useranswer.idUser }}</td>
                <td>{{ useranswer.idQuestion }}</td>
                <td>{{ useranswer.idQuiz }}</td>
                <td>{{ useranswer.repCorrect }}</td>
                <td>
                    <a href="{{ path('useranswer_show', {'id': useranswer.id}) }}">show</a>
                    <a href="{{ path('useranswer_edit', {'id': useranswer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('useranswer_new') }}">Create new</a>
{% endblock %}
