{% extends 'base.html.twig' %}

{% block title %}Useranswer{% endblock %}

{% block body %}
    <h1>Useranswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ useranswer.id }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ useranswer.idUser }}</td>
            </tr>
            <tr>
                <th>Id_question</th>
                <td>{{ useranswer.idQuestion }}</td>
            </tr>
            <tr>
                <th>Id_quiz</th>
                <td>{{ useranswer.idQuiz }}</td>
            </tr>
            <tr>
                <th>Rep_correct</th>
                <td>{{ useranswer.repCorrect }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('useranswer_index') }}">back to list</a>

    <a href="{{ path('useranswer_edit', {'id': useranswer.id}) }}">edit</a>

    {{ include('useranswer/_delete_form.html.twig') }}
{% endblock %}
