{% extends 'base-back.html.twig' %}

{% block title %} Profile {% endblock %}

{% block body %}

    <div class="page-header flex-wrap">
        <h3 class="mb-0">Bienvenue à votre profile, {{ user.firstname }}!</h3>
    </div>

    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        {% if (user.roles|join(', ') == "ROLE_CLIENT, ROLE_TUTOR" or user.roles|join(', ') == "ROLE_TUTOR, ROLE_CLIENT" ) %}
                            <p class="text-muted">Vous êtes connecté en tant que <u
                                        style="color: green;font-weight: bold">Formateur </u>et <u
                                        style="color: green;font-weight: bold">Client</u>!</p>
                        {% elseif user.roles|join(', ') == "ROLE_CLIENT" %}
                            <p class="text-muted">Vous êtes connecté en tant que <u
                                        style="color: green;font-weight: bold">Client</u>!<a onclick="verifyRole()"
                                        class="text-muted font-weight-medium pl-2"><u>
                                        devenir un formateur ?</u></a></p>
                        {% else %}
                            <p class="text-muted">Vous êtes connecté en tant que <u
                                        style="color: green;font-weight: bold">Formateur</u>!<a onclick="verifyRole()"
                                        class="text-muted font-weight-medium pl-2"><u>
                                        deveinr un Client ?</u></a></p>
                        {% endif %}

                    </div>
                    <div class="col-sm-3 text-md-right">
                        <a href="{{ path('edit_user') }}" type="button"
                           class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-warning font-weight-normal">
                            <i class="mdi mdi-pen btn-icon-prepend"></i>Modifier profile</a>
                    </div>
                    <div class="col-sm-3 text-md-right">
                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
                              onsubmit="return confirm('All your data will be deleted... Are you sure you want to remove your account?');">
                            <a onclick="deleteConfirmation()"
                               class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-danger font-weight-normal">
                                <i class="mdi mdi-trash-can btn-icon-prepend"></i>désactiver compte
                            </a>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-3 mb-sm-0">
                            <div class="card-body py-3 px-4">
                                <p class="m-0 survey-head">Photo de profil</p>

                                <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                    <img src="{{ asset('uploads/user_picture/' ~ user.picture) }}"
                                         class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Détails</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <th class="text-center">Prénom</th>
                                            <td class="text-center">{{ user.firstName }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Nom</th>
                                            <td class="text-center">{{ user.lastName }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Addresse mail</th>
                                            <td class="text-center">{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Genre</th>
                                            <td class="text-center">{{ user.gender }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Date de création</th>
                                            <td class="text-center">{{ user.createdAt|date("d/m/y") }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Vos Formations</h4>
                                <div >
                                    <div style="overflow-x:auto;">
                                        <table class="table" id="myTable">
                                            <tbody>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Domaine</th>
                                                <th>Prix</th>
                                                <th>Places</th>
                                                <th>Formateur</th>
                                                <th>Lien</th>
                                                <th>Passer quiz</th>
                                                <th>Seances</th>
                                            </tr>
                                            <tr>
                                                {% for for in formations %}
                                                <td style="display:none">{{ for.formation.Id }}</td>
                                                <td>{{ for.formation.nomFormation }}</td>
                                                <td>{{ for.formation.descriptionFormation }}</td>
                                                <td>{{ for.formation.domaine.nomDomaine }}</td>
                                                <td>{{ for.formation.prixFormation }}</td>
                                                <td>{{ for.formation.nbPlaces }}</td>
                                                <td>{{ for.formation.formateur.firstname }} {{ for.formation.formateur.lastname }}</td>
                                                <td>{{ for.formation.lien }}</td>

                                                <td>
                                                    {% set a = 0 %}
                                                    {% for test in user.userresults %}
                                                        {% if for.formation.quiz == test.quiz %}
                                                            {% set a = a + 1 %}
                                                            {# <a class="btn btn-primary"
                                                           href="{{ path('quizz_play',{'id':for.formation.quiz.id,'nbr':0}) }}">
                                                            Passer</a> #}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if a == 0 and for.formation.quiz != null and (for.formation.quiz.idFormation.seances|last).dateSeance < date() %}
                                                        <a class="btn btn-primary"
                                                           href="{{ path('quizz_play',{'id':for.formation.quiz.id,'nbr':0}) }}">
                                                            Passer</a>
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <span class="flaticon-shower"></span>
                                                        {#
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lga{{ dom.id }}">Détails</button>
                                                        #}
                                                        <button type="button" data-toggle="modal"
                                                                data-target="#infos{{ for.formation.id}}"
                                                                class="btn btn-primary">seances
                                                        </button>
                                                        <div class="modal"
                                                             id="infos{{ for.formation.id }}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">liste des seances de la
                                                                            formation :
                                                                            <br>{{ for.formation.nomFormation }} </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-md-6 grid-margin stretch-card">
                                                                            </div>
                                                                            <div class="col-lg-12 grid-margin stretch-card">
                                                                                <div class="card">
                                                                                    <div class="card-body">
                                                                                        <h4 class="card-title"></h4><br>
                                                                                        <div style="overflow-x:auto;">
                                                                                            <table class="table">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <th>Nom</th>
                                                                                                    <th>Description</th>
                                                                                                    <th>Date</th>
                                                                                                    <th>Heure debut</th>
                                                                                                    <th>Heure Fin</th>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    {% for sc in seances %}
                                                                                                    {% if for.formation.id == sc.formation.id %}
                                                                                                        <td style="display:none">{{ for.id }}</td>
                                                                                                        <td>{{ sc.nomSeance }}</td>
                                                                                                        <td>{{ sc.descriptionSeance }}</td>
                                                                                                        <td>{{ sc.dateSeance|date('d/m/Y') }}</td>
                                                                                                        <td>{{ sc.heureDeb|date('H:i') }}</td>
                                                                                                        <td>{{ sc.heureFin |date('H:i') }}</td>
                                                                                                    {% endif %}
                                                                                                </tr>
                                                                                                {% else %}
                                                                                                    <tr>
                                                                                                        <td colspan="3">
                                                                                                            pas de
                                                                                                            formations
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                {% endfor %}
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <em>Informations sous réserve</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ for.Id) }}">
                                            </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="3">pas de formations</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th><input style="width: 90%" type="text" id="myInput2"
                                                           onkeyup="myFunction2()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput4"
                                                           onkeyup="myFunction4()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput5"
                                                           onkeyup="myFunction5()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput6"
                                                           onkeyup="myFunction6()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput7"
                                                           onkeyup="myFunction7()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput8"
                                                           onkeyup="myFunction8()" placeholder="chercher"></th>
                                                <th><input style="width: 90%" type="text" id="myInput9"
                                                           onkeyup="myFunction9()" placeholder="chercher"></th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vos évènements</h4>

                    <div id="accordion">
                        {% for event in events %}
                            <div class="card">
                                <div class="card-header" id="headingOne{{ event.id }}">
                                    <h5 class="mb-0">
                                        <img src="{{ asset('uploads/Event/' ~ event.EventId.EPHOTO) | imagine_filter('squareshowprofile') }}"
                                             alt="{{ event.EventId.EName }}">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne{{ event.id }}" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            {{ event.EventId.EName }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne{{ event.id }}" class="collapse"
                                     aria-labelledby="headingOne{{ event.id }}" data-parent="#accordion">
                                    <div class="card-body">
                                        <br>
                                        <p><b>Description :</b>{{ event.EventId.ENote }}</p>
                                        <p><b>Adresse : </b>{{ event.EventId.EPlace }}</p>
                                        <p><b>Date debut : </b>{{ event.EventId.EDateDebut |date('d-m-Y h:m') }}</p>
                                        <p><b>Date fin : </b>{{ event.EventId.EDateFin |date('d-m-Y h:m') }}</p>
                                        <p><b>Prix : </b>{{ event.PrixReservationEvent }} dt</p>
                                        <p><b>Contact :</b>
                                        <p>
                                        <p><b>Email : </b>{{ event.EventId.EEmail }} </p>
                                        <p><b>Numéro de téléphone : </b>{{ event.EventId.ETelNumber }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vos quiz</h4>
                    <div id="accordion">
                        {% for res in userresults %}
                            <div class="card">
                                <div class="card-header" id="headingOne{{ res.id }}">
                                    <h5 class="mb-0">
                                        <img src="{{ asset('uploads/Formation/' ~ res.quiz.IdFormation.imageFormation) | imagine_filter('squareshowprofile') }}"
                                             alt="{{ res.quiz.IdFormation.nomFormation }}">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne{{ res.id }}" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            {{ res.quiz.IdFormation.nomFormation }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne{{ res.id }}" class="collapse"
                                     aria-labelledby="headingOne{{ res.id }}" data-parent="#accordion">
                                    <div class="card-body">
                                        <br>
                                        <p><b>Formateur : </b>{{ res.quiz.IdFormation.Formateur.firstname }}</p>
                                        <p><b>Nom du quiz :</b>{{ res.quiz.name }}</p>
                                        <p><b>Score : </b>{{ res.result }}</p>
                                        {% if res.result >= 16 %}
                                            <p><b>votre certification : </b><a
                                                        class="btn btn-sm bg-white btn-icon-text border"
                                                        href="{{ path('quiz_certif', {'id': res.quiz.id}) }}"><i
                                                            class="mdi mdi-download btn-icon-prepend"></i>Certification</a>
                                            </p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function myFunction2() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput2");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction3() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput3");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction4() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput4");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction5() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput5");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction6() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput6");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction7() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput7");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction8() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput8");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[6];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction9() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput9");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[7];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function myFunction10() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput10");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[8];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        function deleteConfirmation() {
            Swal.fire({
                title: 'Vous êtes sûr ?',
                text: "Vous ne pouvez plus utiliser ce compte!",
                icon: 'warning',
                showCancelButton: true,
                cancelText: 'annuler',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui!',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        {
                            title: 'Fait!',
                            text: 'Votre compte est supprimé.',
                            type: 'success',
                            timer: 3000
                        }
                    ).then(() => {
                        window.location.href = "{{ path('home') }}"
                    })
                } else {
                    Swal.fire({
                        title: 'Annulé!',
                        type: 'success',
                        timer: 3000
                    })
                }

            })
        }

        function verifyRole() {
            Swal.fire({
                title: 'Vous êtes sûr ?',
                text: "Vous devez reconnecter pour confirmer",
                icon: 'warning',
                showCancelButton: true,
                cancelText: 'annuler',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui!',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        {
                            title: 'Fait!',
                            text: 'Votre role est changé.',
                            type: 'success',
                            timer: 3000
                        }
                    ).then(() => {
                        window.location.href = "{{ path('second_role') }}"
                    })
                } else {
                    Swal.fire({
                        title: 'Annulé!',
                        type: 'success',
                        timer: 3000
                    })
                }

            })
        }
    </script>

{% endblock %}
